<!DOCTYPE html>
<html>

<head>
    <title>Rutas</title>
</head>

<body>

<h1>Asignar Estaciones a Líneas</h1>

<form action="/rutas/crear" method="POST">

    <div class="mb-3">

    <label class="form-label">
        Línea
    </label>

    <select name="linea_id"
            class="form-control">

        {% for linea in lineas %}

        <option value="{{ linea.id }}">

            {{ linea.nombre }}

        </option>

        {% endfor %}

    </select>

</div>

    <select name="linea_id">

        {% for linea in lineas %}

        <option value="{{ linea.id }}">
            {{ linea.nombre }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Estación:</label>

    <select name="estacion_id">

        {% for estacion in estaciones %}

        <option value="{{ estacion.id }}">
            {{ estacion.nombre }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Orden:</label>
    <input type="number" name="orden">

    <br><br>

    <label>Distancia:</label>
    <input type="number" step="0.1" name="distancia">

    <br><br>

    <button type="submit">
        Guardar
    </button>

</form>

<hr>

<table border="1">

<tr>
    <th>ID</th>
    <th>Línea</th>
    <th>Estación</th>
    <th>Orden</th>
    <th>Distancia</th>
    <th>Acciones</th>
</tr>

{% for r in relaciones %}

<tr>

    <td>{{ r.id }}</td>

    <td>{{ r.linea_id }}</td>

    <td>{{ r.estacion_id }}</td>

    <td>{{ r.orden }}</td>

    <td>{{ r.distancia }}</td>

    <td>

        <a href="/rutas/eliminar/{{ r.id }}">
            Eliminar
        </a>

    </td>

</tr>

{% endfor %}

</table>

</body>
</html>